body {
	background-color: white;
}

.jumbotron {
	background-image: url(produce.jpg);
	color: white;
	text-shadow: black 2px 2px 2px;
	text-align: center;
	height: 25em;
}

#title {
	width: 60%;
	margin-left: 5.5em;
	padding-top: 0.5em;
	font-size: 90px;
	font-family: 'Arima Madurai', cursive;	
}

.middle {
	width: 30%;	
}

.middle_content {
	font-size: 15px;
	line-height: 1.5;
	padding: 75px 10px 35px 30px;
}

.left, th {
	text-align: center;
}

#address_link {
	font-size: 20px;
}

.map {
	width: 100%;
}

.left_content {
	padding: 30px;
}

.right {
	width: 30%;
}

.right_content {
	font-size: 18px;
	line-height: 1.5;
	padding: 75px 10px 0px 70px;
}

.far_right {
	width: 15%;
}

.specials_content {
	font-size: 18px;
	padding-top: 75px;
}

.tab_ {
	color: #B81F2B;
	font-size: 18px;
}

a:hover {
    color: #B81F2B;
}

.container {
	padding-top: 30px;
}

#first_form {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.panel-heading {
	font-size: 18px;
}

#second_form {
	margin-top: 20px;
}

#myForm {
	padding-top: 20px;
}

#specials {
	height: 6em;
}

#add_user {
	width: 100%;
	height: 6em;
}

#zip_code_label {
	font-size: 18px;
}